<template name="layout">
  <!-- Layout -->
  <div class="container">
    <div id="content">
      <!-- Yield -->
      {{> yield}}
      <!-- /Yield -->
    </div>

    <div class="image-overlay-cover">
      <div class="image-overlay"
        style="
        margin-bottom: {{highlightedImageTopMargin}}px;
        margin-top: {{highlightedImageTopMargin}}px;
        width: {{highlightedImageBoxWidth}}px;
        height: {{highlightedImageBoxHeight}}px;
        ">
        <div class="close-img">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </div>
        <img width="{{highlightedImageWidth}}" height="{{highlightedImageHeight}}" src="{{highlightedImage}}">
        {{#if zoomCaption}}
          <div class="zoom-caption">
            <p>{{zoomCaption}}</p>
            <p class="esp">{{zoomCaptionEsp}}</p>
          </div>
        {{/if}}
      </div>
    </div>

    <div id="screensaver">
      <video id="screensaver-video" width="1366" height="768" autoplay loop>
        <source src="video/screensaver.webm" type="video/webm">
      </video>
    </div>
  </div>
</template>
