@import "_animate.import.less";
@import "_colors.import.less";
@import "_sizes.import.less";
@import "_font-sizes.import.less";
@import "graphic-panel.import.less";

/**
 * ----------------------------------------------------------------------------
 * Body and containers
 * ----------------------------------------------------------------------------
 */
body {
  background: #000;
  /**
   * Dev background colors for reviewing media in graphic color context
   */
  /*background: darken(@torrey-pines-green-darker, 15%);*/
}

/**
 * Make the primary container relative so that we can position things inside
 * of it with some absolute numbers.
 */
.container {
  position: relative;
}

.container,
.container-map {
  width: @screen-width;
  max-width: @screen-width;
  height: @screen-height;
  padding: 0;
  background: lighten(@background-tan, 10%);
  overflow: hidden;
}

.components .row {
  margin-top: 1px;
}

/**
 * Used when loading content
 */
#spinner {
  height: 300px;
}

.not-found {
  margin-top: 50px;
  text-align: center;
}

.mouse-x,
.mouse-y {
  float: right;
  margin: 10px;
}

#screensaver {
  width: @screen-width;
  max-width: @screen-width;
  height: @screen-height;
  padding: 0;
  background: lighten(@background-tan, 10%);
  font-size: 80px;
  color: #FFF;
  z-index: 9999;
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
}

/**
 * ----------------------------------------------------------------------------
 * Page specific background maps
 * ----------------------------------------------------------------------------
 */
.map-explore,
.map-stories {
  background-image: url("/images/map-base-human.jpg");
  -webkit-filter: blur(4px) grayscale(60%);
  padding: 5px * 2;
  top: -(5px * 2);
  left: -(5px * 2);
}

.map-menu {
  background-image: url("/images/map-base-human.jpg");
}

.map-menu.natural,
.map-menu-natural {
  background-image: url("/images/map-base-natural.jpg");
}

/**
 * Torrey Pines
 */
.map-tp-park {
  background-image: url("/images/tp-park-map.png");
}

.map-tp-extent {
  background-image: url("/images/tp-species-extent-map.png");
}

.map-tp-floristic {
  background-image: url("/images/tp-floristic-map.png");
}

.map-tp-med {
  background-image: url("/images/tp-med-map.png");
  background-position: right 0;
}

.map-tp-explore-tp {
  background-image: url("/images/tp-explore-tp-map.png");
}

.map-tp-explore-crest {
  background-image: url("/images/tp-explore-crest-map.png");
}

.map-tp-explore-bayside {
  background-image: url("/images/tp-explore-bayside-map.png");
}

.map-tp-explore-miners {
  background-image: url("/images/tp-explore-miners-map.png");
}

/**
 * Wetlands
 */
.map-wet-where {
  background-image: url("/images/wet-where-map.png");
}

.map-wet-wetlands {
  background-image: url("/images/wet-wetlands-map.png");
}

.map-wet-explore-bolsa {
  background-image: url("/images/wet-explore-bolsa-map.png");
}

.map-wet-explore-elijo {
  background-image: url("/images/wet-explore-elijo-map.png");
}

.map-wet-explore-delmar {
  background-image: url("/images/wet-explore-delmar-map.png");
}

.map-wet-explore-northbeach {
  background-image: url("/images/wet-explore-northbeach-map.png");
}

.map-wet-migration {
  background-image: url("/images/wet-migration-map.png");
}

/**
 * Canyons
 */
.map-can-where {
  background-image: url("/images/can-where-map.png");
}

.map-can-our {
  background-image: url("/images/can-our-map.png");
}

/**
 * Streams
 */
.map-streams-where {
  background-image: url("/images/can-where-map.png");
}

.map-streams-watersheds {
  background-image: url("/images/can-where-map.png");
}

.map-streams-aquifers {
  background-image: url("/images/can-where-map.png");
}

.map-streams-explore-la {
  background-image: url("/images/can-where-map.png");
}

.map-streams-explore-blue-sky {
  background-image: url("/images/can-where-map.png");
}

.map-streams-explore-old-coach {
  background-image: url("/images/can-where-map.png");
}

.map-streams-explore-green-valley {
  background-image: url("/images/can-where-map.png");
}

.sci-streams-turtle {
  background-image: url("/images/sci-stepek-melissa-turtle.jpg");
  background-position: right;
}

.sci-streams-cuckoo {
  background-image: url("/images/sci-clark-kevin-cuckoo.jpg");
  background-position: right;
}

/**
 * Chapparal
 */
.map-chaparral-where {
  background-image: url("/images/can-where-map.png");
}

.map-chaparral-tough-habitat {
  background-image: url("/images/can-where-map.png");
}

.sci-chaparral-lizard {
  background-image: url("/images/sci-kabes-laura-lizard.jpg");
  background-position: right;
}

.sci-chaparral-bat {
  background-image: url("/images/sci-stokes-drew-bat.jpg");
  background-position: right;
}

/**
 * Mountains
 */
.map-mtn-where {
  background-image: url("/images/can-where-map.png");
}

.map-mtn-our {
  background-image: url("/images/can-our-map.png");
}

/**
 * Torrey Pines
 */
.sci-tp-midden,
.sci-tp-flower {
  background-size: cover;
  background-repeat: no-repeat;
  background-postion: right;
}

.sci-tp-midden {
  background-image: url("/images/sci-arter-susie-midden.jpg");
}

.sci-tp-flower {
  background-image: url("/images/sci-rebman-jon-flower.jpg");
}

.sci-wet-marsh {
  background-image: url("/images/sci-rebman-jon-dodder.jpg");
  background-position: right;
}

.sci-wet-wren {
  background-image: url("/images/sci-unitt-phill-wren.jpg");
  background-position: right;
}

.sci-can-bees {
  background-image: url("/images/sci-wall-michael-bees.jpg");
  background-position: right;
}

.sci-can-weasel {
  background-image: url("/images/sci-tremor-scott-weasel.jpg");
  background-position: right;
}

.sci-can-spider {
  background-image: url("/images/sci-berrian-jim-spider.jpg");
  background-position: right;
}

.sci-mtn-woodpecker {
  background-image: url("/images/sci-hargrove-lori-woodpecker.jpg");
  background-position: right;
}

.map-wet-then-now {
  background-image: url("/images/tp-explore-miners-map.png");
}


.before-after-slider {
  position: relative;
  width: @screen-width;
  height: @screen-height;
}

.before-after-slider div {
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.top-image {
  /*border-right: solid 2px white;*/
  -webkit-box-shadow: 2px 2px 20px @shadow-grey;
          box-shadow: 2px 2px 20px @shadow-grey;
}

#handle {
  position: absolute;
  right: auto;
  left: auto;
  bottom: auto;
  /*background: rgba(34,55, 123, 0.5);*/
}

.before-after-slider .top-image .label,
.before-after-slider .bottom-image .label {
  top: auto;
  bottom: 10px;
  left: auto;
  right: 0px;
  font-size: 2em;
  color: #000;
}

.before-after-slider .bottom-image {
  -webkit-filter: sepia(15%);
}

/**
 * ----------------------------------------------------------------------------
 * Map markers
 * ----------------------------------------------------------------------------
 */
.marker {
  width: @screen-width;
  height: @screen-height;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.marker .marker-order {
  position: absolute;
  font-size: 20px;
  width: 40px;
  height: 40px;
  text-align: center;
  padding-top: 6px;
  pointer-events: visible;
}

.marker .marker-label {
  position: absolute;
  text-align: center;
  font-size: 30px;
  opacity: 0;
}

.marker canvas {
  pointer-events: none;
  opacity: .5;
}

.marker-dot .marker-order {
  pointer-events: visible;
}

/**
 * fadeMarkerOut
 */
@-webkit-keyframes fadeMarkerOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: .5;
  }
}

.fadeMarkerOut {
  -webkit-animation-name: fadeMarkerOut;
  animation-name: fadeMarkerOut;
}

/**
 * fadeMarkerIn
 */
@-webkit-keyframes fadeMarkerIn {
  0% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

.fadeMarkerIn {
  -webkit-animation-name: fadeMarkerIn;
  animation-name: fadeMarkerIn;
}

/**
 * ----------------------------------------------------------------------------
 * Animations
 * ----------------------------------------------------------------------------
 */

.page-animation {
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  /*transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);,*/
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
}

.clickDown {
  opacity: 100%;
}

@-webkit-keyframes clickDown {
  100% {
    opacity: 100%;
    transform: scale3d(1, 1, 1);
  }
  20% {
    opacity: 100%;
    transform: scale3d(1, 1, 1);
  }
  10% {
    opacity: 100%;
    transform: scale3d(.99, .99, .99);
    /*-webkit-filter: contrast(80%);*/
    -webkit-box-shadow: inset 0 0 6px #000000;
  }
  0% {
    opacity: 100%;
  }
}

/*@keyframes clickDown {*/
  /*0%, 50%, 100% {*/
    /*opacity: 1;*/
  /*}*/

  /*25%, 75% {*/
    /*opacity: 0;*/
  /*}*/
/*}*/

.clickDown {
  -webkit-animation-name: clickDown;
  animation-name: clickDown;
}


/**
 * Zoom in big
 */
@-webkit-keyframes zoomInBig {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
  }
}

.zoomInBig {
  -webkit-animation-name: zoomInBig;
}

/**
 * fadeOutDownBigLeft
 */
@-webkit-keyframes fadeOutDownBigLeft {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(-1000px, 2000px, 0);
    transform: translate3d(-1000px, 2000px, 0);
  }
}

@keyframes fadeOutDownBigLeft {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(-1000px, 2000px, 0);
    -ms-transform: translate3d(-1000px, 2000px, 0);
    transform: translate3d(-1000px, 2000px, 0);
  }
}

.fadeOutDownBigLeft {
  -webkit-animation-name: fadeOutDownBigLeft;
  animation-name: fadeOutDownBigLeft;
}


/**
 * fadeOutDownCustom
 */
@-webkit-keyframes fadeOutDownCustom {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes fadeOutDownCustom {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

.fadeOutDownCustom {
  -webkit-animation-name: fadeOutDownCustom;
  animation-name: fadeOutDownCustom;
}

/**
 * Animation settings are handled in javascript
 *
 * .components .component.animate
 */

/**
 * Starting state for animations when a page is rendered
 */
.components .component.loading {
  /*background: darken(@background-tan, 10%);*/
  opacity: 0;
}

/**
 * End state for components after loading class is removed
 */
.components .component {
  background: lighten(@wetlands-blue, 20%);
  padding: 15px;
  opacity: 1;
}

.components .component h3,
.components .component h3 a {
  font-family: 'FuturaTS-Medium', sans-serif;
  color: lighten(@wetlands-blue, 60%);
}

.map-animate {
  -webkit-transition: all 300ms 0ms ease-in;
          transition: all 300ms 0ms ease-in;
}

/**
 * Home screen button animateIn
 *
 * TODO - Do these with animate.css
 */
.buttons .btn {
  -webkit-transform: scale(1);
}

.buttons .btn.loading{
  -webkit-transform: scale(0);
}

/**
 * ----------------------------------------------------------------------------
 * Global text styles
 * ----------------------------------------------------------------------------
 */
body {
  // This is what they want for style and visibility.
  // It just might be too much for the ammount of copy that they have
  /*font-family: 'FuturaTS-Medium', sans-serif;*/
  // This works better.
  font-family: 'FuturaTS-Regular', sans-serif;
  font-size: @body-font-size;
  line-height: @body-line-height;
}

h1, h2, h3 {
  font-family: 'FuturaTS-Demibold', sans-serif;
  margin-top: 0;
}

.welcome-title {
  z-index: 2000;
  font-family: 'FuturaTS-Medium';
  position: absolute;
  left: 25px;
  bottom: 25px;
  color: white;
  width: 550px;
}

.welcome-title .eng {
  font-size: @welcome-font-size;
  letter-spacing: @welcome-font-letter-spacing;
}

.welcome-title .esp {
  color: lighten(@golden-spanish, 10%);
  font-size: @welcome-font-size-esp;
  margin-top: 25px;
  letter-spacing: @welcome-font-letter-spacing-esp;
}

/**
 * Several text shadows
 */
.welcome-title {
  text-shadow: 0px 3px 3px rgba(0,0,0,0.4), 
    0px 6px 13px rgba(0,0,0,0.1), 
    0px 18px 23px rgba(0,0,0,0.1);
}

/**
 * Embossed text style
 */
.embossed {
  color: rgba(0,0,0,0.6);
  text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
}

/**
 * ----------------------------------------------------------------------------
 * Home screen
 * ----------------------------------------------------------------------------
 */

/**
 * Home screen primary footer navigation
 */
.menu-footer {
  position: absolute;
  top: auto;
  left: auto;
  right: 0;
  bottom: 0;
  width: 800px;
  padding-left: 11px;
}

.menu-footer .btn {
  font-family: 'FuturaTS-Light', sans-serif;
  float: left;
  white-space: normal;
  width: 263px;
  height: 100px;
  margin: 0;
  padding: 20px 10px 10px 15px;
  text-align: left;
  font-size: @menu-font-size;
  border: none;
  border-radius:0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.menu-footer .btn .esp {
  color: lighten(@golden-spanish, 10%);
  font-size: @menu-font-size-esp;
  margin-top: 10px;
  line-height: 47px;
}

/**
 * Component specific button styles
 *
 * Each component features a different color scheme, the navigation buttons
 * carry most of this visual style.
 */

a.btn,
a.btn:hover,
a.btn:active {
  text-decoration: none;
}

/**
 * This was suggested by the print designer, but I (BCK) really don't like it.
 * I'm leaving it here for reference so that it's obvious that we don't
 * want to go this direction.
 */
/*.menu-footer .btn {*/
  /*text-align: center;*/
/*}*/

/**
 * When there are less than 6 buttons, we need to fill in the background, but
 * this messes up the animation in of the buttons. So I need to do some work
 * still to figure out how to handle this.
 */
/*.wetlands .menu-footer {*/
  /*background: darken(@wetlands-blue, 5%);*/
/*}*/

/**
 * Torrey Pines
 */

.torrey-pines .buttons .btn-1 {
  background: darken(@torrey-pines-buttons, 5%);
  padding-left: 26px;
}

.torrey-pines .buttons .btn-2 {
  background: darken(@torrey-pines-buttons, 7%);
}

.torrey-pines .buttons .btn-3 {
  background: darken(@torrey-pines-buttons, 9%);
}

.torrey-pines .buttons .btn-4 {
  background: darken(@torrey-pines-buttons, 11%);
  padding-left: 26px;
}

.torrey-pines .buttons .btn-5 {
  background: darken(@torrey-pines-buttons, 13%);
}

.torrey-pines .buttons .btn-6 {
  background: darken(@torrey-pines-buttons, 15%);
}

.torrey-pines .buttons .btn,
.torrey-pines .buttons .btn:hover {
  color: white;
}

.torrey-pines .btn-home,
.torrey-pines .btn-home:hover {
  background: darken(@torrey-pines-buttons, 15%);
}

/**
 * Wetlands
 */
.wetlands .buttons .btn,
.wetlands .buttons .btn:hover {
  color: white;
}

.wetlands .buttons .btn-1 {
  background: darken(@wetlands-blue, 5%);
  padding-left: 36px;
}

.wetlands .buttons .btn-2 {
  background: darken(@wetlands-blue, 7%);
}

.wetlands .buttons .btn-3 {
  background: darken(@wetlands-blue, 9%);
}

.wetlands .buttons .btn-4 {
  background: darken(@wetlands-blue, 11%);
  padding-left: 36px;
}

.wetlands .buttons .btn-5 {
  background: darken(@wetlands-blue, 13%);
}

.wetlands .buttons .btn-6 {
  background: darken(@wetlands-blue, 15%);
}

.wetlands .btn-home,
.wetlands .btn-home:hover {
  background: darken(@wetlands-blue, 15%);
}

/**
 * Canyons
 */
.canyons .buttons .btn,
.canyons .buttons .btn:hover {
  color: white;
}

.canyons .buttons .btn-1 {
  background: darken(@torrey-pines-green-darker, 5%);
  padding-left: 36px;
}

.canyons .buttons .btn-2 {
  background: darken(@torrey-pines-green-darker, 7%);
}

.canyons .buttons .btn-3 {
  background: darken(@torrey-pines-green-darker, 9%);
}

.canyons .buttons .btn-4 {
  background: darken(@torrey-pines-green-darker, 11%);
  padding-left: 36px;
  width: 394px;
}

.canyons .buttons .btn-5 {
  background: darken(@torrey-pines-green-darker, 13%);
  width: 395px;
}

.canyons .btn-home,
.canyons .btn-home:hover {
  background: darken(@torrey-pines-green-darker, 15%);
}

/**
 * Mountains
 */
.mountains .buttons .btn,
.mountains .buttons .btn:hover {
  color: white;
}

.mountains .buttons .btn-1 {
  background: lighten(@mountains-blue, 5%);
  padding-left: 36px;
}

.mountains .buttons .btn-2 {
  background: lighten(@mountains-blue, 7%);
}

.mountains .buttons .btn-3 {
  background: lighten(@mountains-blue, 9%);
}

.mountains .buttons .btn-4 {
  background: lighten(@mountains-blue, 11%);
  padding-left: 36px;
  width: 394px;
}

.mountains .buttons .btn-5 {
  background: lighten(@mountains-blue, 13%);
  width: 395px;
}

.mountains .btn-home,
.mountains .btn-home:hover {
  background: lighten(@mountains-blue, 15%);
}

/**
 * Streams
 */
.streams .buttons .btn,
.streams .buttons .btn:hover {
  color: white;
}

.streams .buttons .btn-1 {
  background: darken(@riparian-green, 5%);
  padding-left: 36px;
}

.streams .buttons .btn-2 {
  background: darken(@riparian-green, 7%);
}

.streams .buttons .btn-3 {
  background: darken(@riparian-green, 9%);
}

.streams .buttons .btn-4 {
  background: darken(@riparian-green, 11%);
  padding-left: 36px;
  width: 394px;
}

.streams .buttons .btn-5 {
  background: darken(@riparian-green, 13%);
  width: 395px;
}

.streams .btn-home,
.streams .btn-home:hover {
  background: darken(@riparian-green, 15%);
}

/**
 * chaparral
 */
.chaparral .buttons .btn,
.chaparral .buttons .btn:hover {
  color: white;
}

.chaparral .buttons .btn-1 {
  background: darken(@mountains-blue, 2%);
  padding-left: 36px;
}

.chaparral .buttons .btn-2 {
  background: darken(@mountains-blue, 3%);
}

.chaparral .buttons .btn-3 {
  background: darken(@mountains-blue, 4%);
}

.chaparral .buttons .btn-4 {
  background: darken(@mountains-blue, 5%);
  padding-left: 36px;
}

.chaparral .buttons .btn-5 {
  background: darken(@mountains-blue, 6%);
}

.chaparral .buttons .btn-6 {
  background: darken(@mountains-blue, 7%);
}

.chaparral .btn-home,
.chaparral .btn-home:hover {
  background: darken(@mountains-blue, 7%);
}


/**
 * ----------------------------------------------------------------------------
 * Inner pages
 * ----------------------------------------------------------------------------
 */

.body-copy {
  position: absolute;
  background: lighten(@background-tan, 6%);
  bottom: 0;
  left: 0;
  padding: 1em 1.5em 1.5em 1.5em;
  height: 100%;
  -webkit-box-shadow: 2px 2px 20px @shadow-grey;
          box-shadow: 2px 2px 20px @shadow-grey;
}

.body-copy .image {
  position: relative;
  margin-bottom: 10px;
}

.map-can-where+.body-copy img {
  width: 480px;
}

.body-copy .credit {
  top: 10px;
  right: 15px;
  position: absolute;
  color: rgba(255, 255, 255, .5);
  font-family: 'FuturaTS-Light', sans-serif;
  font-size: 8px;
  -webkit-transform: rotate(-90deg);
  -webkit-transform-origin: 100% 0;
}

.body-copy .caption {
  font-family: 'FuturaTS-Light', sans-serif;
  font-size: 16px;
  line-height: 19px;
}

.body-copy,
.body-copy .btn-home {
  width: 543px;
}

.btn-home,
.btn-home:hover {
  position: absolute;
  bottom: 0px;
  left: 0px;
  font-size: 35px;
  padding: 10px 0 10px 0;
  color: lighten(@background-tan, 12%);
  text-align: center;
}

/**
 * Inner page text
 */

/* Spanish language text */
.body-copy .esp,
.subpage-selector h3 .esp {
  color: darken(@golden-spanish, 40%);
}

/* Latin language text for scientific names */
.latin {
  font-style: italic;
}


/* Inner page headlines - English */
.body-copy h3,
.subpage-selector h3 {
  font-family: 'FuturaTS-Demibold', sans-serif;
  font-size: @inner-headline-font-size;
  letter-spacing: @inner-headline-letter-spacing;
  margin-bottom: 15px;
}

.body-copy.cabrillo-national-monumentbrbayside-trail h3 {
  font-size: 35px;
}

.body-copy.black-mountain-open-space-parkbrminers-loop h3 {
  font-size: 32px;
}

.body-copy.black-mountain-open-space-parkbrminers-loop h3 .esp {
  font-size: 25px;
}

.body-copy.susie-arterbrcodirector-of-zooarchaeology-lab h3 .esp {
  font-size: 23px;
}

/* Inner page headlines - Spanish */
.body-copy h3 .esp,
.subpage-selector h3 .esp {
  margin-top: 10px;
  font-size: @inner-headline-font-size-esp;
  letter-spacing: @inner-headline-letter-spacing;
}

/* Inner page body copy - English */
.body-text .esp {
  display: block;
  font-size: 19px;
  margin-top: 18px;
}

/* Inner page headlines - Horizontal - Spanish */
.body-copy.horizontal .esp h3 {
  font-size: 25px;
  margin-top: 0;
}

/**
 * Component and Page specific custom layouts
 */
.body-copy.where-is-it,
.body-copy.where-is-it .btn-home,
.body-copy.where-are-they,
.body-copy.where-are-they .btn-home {
  width: 600px;
}

.body-copy.tough-habitat,
.body-copy.tough-habitat .btn-home {
  width: 720px;
}

.body-copy.where-is-it img,
.body-copy.where-are-they img {
  width: 540px;
}

.body-copy.rare-tree {
  font-size: 19px;
  line-height: 22px;
}
.body-copy.rare-tree .esp {
  font-size: 17px;
  line-height: 20px;
}

.body-copy.rare-habitat,
.body-copy.rare-habitat .btn-home {
  width: 785px;
}

.body-copy.rare-habitat .body-images,
.body-copy.tough-habitat .body-images,
.subpage-page .body-images {
  float: right;
  margin-left: 20px;
}

.body-copy.tough-habitat .body-images img {
 width: 310px;
}

.body-copy.rare-habitat .body-images img {
  width: 305px;
}

// Inner epxlore pages
.body-copy.subpage-page .body-images img {
  width: 460px;
}

.body-copy.subpage-page.cuyamaca-rancho-state-park-stonewall-peak .body-images img {
  width: 450px;
}

.body-copy.subpage-page.drew-stokesbrwildlife-biologist,
.body-copy.subpage-page.drew-stokesbrwildlife-biologist .btn-home {
  width: 655px;
}


.body-copy.subpage-page.laura-kabesbrherpetologist,
.body-copy.subpage-page.laura-kabesbrherpetologist .btn-home,
.body-copy.subpage-page.drew-stokesbrwildlife-biologist,
.body-copy.subpage-page.drew-stokesbrwildlife-biologist .btn-home {
  width: 655px;
}

.body-copy.subpage-page.laura-kabesbrherpetologist .body-images img,
.body-copy.subpage-page.drew-stokesbrwildlife-biologist .body-images img {
  width: 360px;
}

.body-copy.subpage-page.crest-canyonbropen-space-park-preserve .body-images img,
.body-copy.subpage-page.cabrillo-national-monumentbrbayside-trail .body-images img,
.body-copy.subpage-page.black-mountain-open-space-parkbrminers-loop .body-images img,
.body-copy.subpage-page.san-dieguito-river-parkbrcoast-to-crest-trail-–-del-mar .body-images img,
.body-copy.subpage-page.los-peñasquitos-canyon-preservebrlopez-canyon .body-images img,
.body-copy.subpage-page.tijuana-river-national-estuarine-research-reserve-north-beach-trail .body-images img,
.body-copy.subpage-page.cuyamaca-rancho-state-park-stonewall-peak .body-images img,
.body-copy.subpage-page.palomar-mountain-state-park-thunder-springchimney-flats .body-images img,
.body-copy.subpage-page.san-dieguito-river-park-old-coach-staging-area-–-coast-to-crest-trail .body-images img,
.body-copy.subpage-page.cuyamaca-rancho-state-park-green-valley-falls-loop .body-images img,
.body-copy.subpage-page.torrey-pines-state-natural-reservebrgonzales-canyon-–-torrey-pines-loop .body-images img {
  width: 410px;
}

.body-copy.subpage-page.michael-wallbrvice-president-of-research-and-public-programs .body-images img,
.body-copy.subpage-page.susie-arterbrcodirector-of-zooarchaeology-lab .body-images img,
.body-copy.subpage-page.jon-rebmanbrcurator-of-botany .body-images img {
  width: 305px;
}

.body-copy.rare-habitat p {
  width: 95%;
}

.body-copy.rare-climate-zone {
  height: 327px;
}

.body-copy.rare-climate-zone,
.body-copy.rare-climate-zone .btn-home {
  width: @screen-width;
}

.body-copy.explore,
.body-copy.explore .btn-home {
  width: @screen-width;
}

.body-copy.our-wetlands {
  height: 229px;
}

.body-copy.our-wetlands,
.body-copy.our-wetlands .btn-home {
  width: @screen-width;
}

/**
 * Subpages
 */

.subpage-selector {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: @screen-width;
}

.subpage-selector-header {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background: lighten(@background-tan, 6%);
  z-index: 1000;
}

.subpage-selector-header h3 {
  margin: 20px;
}

.subpage-selector .btn-home,
.subpage-selector-header {
  width: @screen-width;
}

.subpage-selector-buttons {
  margin: 117px 0 0 0;
}

.subpage-button {
  float: left;
  margin: 0;
  background: lighten(@background-tan, 7%);
  width: 342px;
  /*box-sizing:border-box;*/
  border-right: 2px solid #fff;
  overflow: hidden;
}

.subpage-button-4 {
  border-right: 0px;
  width: 340px;
}

.map-stories + .subpage-selector .subpage-button {
  width: 50%;
}

.subpage-button h4 {
  margin: 15px;
  height: 89px;
  font-size: 20px;
}

.subpage-button h4 .esp {
  margin-top: 6px;
  font-size: 18px;
}

.subpage-button .esp {
  color: darken(@background-tan, 40%);
  letter-spacing: 0.03em;
}

.subpage-button.torrey-pines-state-natural-reservebrgonzales-canyon-–-torrey-pines-loop h4,
.subpage-button.torrey-pines-state-natural-reservebrgonzales-canyon-–-torrey-pines-loop .esp {
  font-size: 18px;
  letter-spacing: 0;
}

.subpage-button.torrey-pines-state-natural-reservebrgonzales-canyon-–-torrey-pines-loop .esp {
  font-size: 17px;
}

.subpage-button.tijuana-river-national-estuarine-research-reserve-north-beach-trail .esp {
  font-size: 16px;
  letter-spacing: 0;
}

.susan-on-sehll-middens,
.jon-on-shortleaved-dudleya {
  width: 50%;
}

.susan-on-sehll-middens.subpage-button img,
.jon-on-shortleaved-dudleya.subpage-button img {
  width: 684px;
  height: 520px;
}

.map-stories + .subpage-selector .subpage-button img {
  width: 684px;
  height: 496px;
}

.subpage-button-1 {
  background: darken(@background-tan, 3%);
  -webkit-animation-delay: 0.4s;
}

.subpage-button-2 {
  background: lighten(@background-tan, 3%);
  -webkit-animation-delay: 0.45s;
}

.subpage-button-3 {
  background: lighten(@background-tan, 5%);
  -webkit-animation-delay: 0.50s;
}

.subpage-button-4 {
  background: lighten(@background-tan, 7%);
  -webkit-animation-delay: 0.55s;
}

.subpage-page.body-copy,
.subpage-page.body-copy .btn-home {
  width: 775px;
}

.subpage-page.body-copy.lori-hargrovebrecologist,
.subpage-page.body-copy.lori-hargrovebrecologist .btn-home {
  width: 880px;
}

.subpage-page.body-copy.miners-loopbrblack-mountain-open-space-park,
.subpage-page.body-copy.miners-loopbrblack-mountain-open-space-park .btn-home {
  width: 800px;
}

.subpage-page.body-copy.coast-to-crest-trail-–-brdel-mar-san-dieguito-river-park,
.subpage-page.body-copy.coast-to-crest-trail-–-brdel-mar-san-dieguito-river-park .btn-home {
  width: 820px;
}

.subpage-page.body-copy.jon-rebmanbrcurator-of-botany,
.subpage-page.body-copy.jon-rebmanbrcurator-of-botany .btn-home {
  width: 570px;
}

.subpage-page.body-copy.susie-arterbrcodirector-of-zooarchaeology-lab,
.subpage-page.body-copy.susie-arterbrcodirector-of-zooarchaeology-lab .btn-home {
  width: 665px;
}

.body-copy.jon-on-shortleaved-dudleya .image {
  float: left;
  margin: 10px;
}

.body-copy.jon-on-shortleaved-dudleya img {
  width: 350px;
}

.website-text {
  margin-top: 25px;
  background: darken(@background-tan, 3%);
  padding: 10px 0;
  clear: both;
}

.website-text .eng,
.website-text .esp {
  float: left;
  margin: 0 0 10px 0;
  padding: 0;
  width: 45%;
  font-size: 17px;
}

.website-text .eng {
  text-align: right;
  margin-right: 5%;
}

.website-text .esp {
  margin-left: 5%;
  text-align: left;
}

.website-text .url {
  text-align: center;
}

.background-caption {
  position: absolute;
  top: auto;
  bottom: 0px;
  left: auto;
  right: 0px;
  background: @background-tan;
  margin: 0;
  padding: 15px;
}

.susie-arterbrcodirector-of-zooarchaeology-lab + .background-caption {
  width: 34%;
  height: 80px;
}

.jon-rebmanbrcurator-of-botany + .background-caption {
  width: 100px;
  height: 120px;
}

.background-caption .esp {
  color: darken(@golden-spanish, 30%);
  font-size: 19px;
  margin-top: 25px;
}

.background-caption .latin {
  font-size: 19px;
  margin-top: 25px;
  font-style: italic;
}

/**
 * ----------------------------------------------------------------------------
 * Atomic parts
 * ----------------------------------------------------------------------------
 */
.btm-left {
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
}

.btm-right {
  top: auto;
  right: 0;
  bottom: 0;
  left: auto;
}

.border-top-1 {
  border: none;
  border-top: 1px solid @border-grey;
}

.border-left-1 {
  border-left: 1px solid @border-grey;
}

.border-right-1 {
  border-right: 1px solid @border-grey;
}

.bgc-white {
  background: white;
}

.brighter {
  -webkit-filter: brightness(1.5);
}

/**
 * Images
 */
.postcard {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

.jaunt-left-02 {
  -webkit-transform: rotate(-2deg);
      -ms-transform: rotate(-2deg);
          transform: rotate(-2deg);
}

.jaunt-right-02 {
  transform: rotate(2deg);
  -ms-transform: rotate(2deg); /* IE 9 */
  -webkit-transform: rotate(2deg); /* Safari and Chrome */
  -o-transform: rotate(2deg); /* Opera */
  -moz-transform: rotate(2deg); /* Firefox */
  -webkit-backface-visibility: hidden;
}

.postcard-border {
  border-right: 10px solid white;
  border-top: 10px solid white;
  background: white;
}

.postcard-shadow {
  -webkit-box-shadow: 2px 2px 20px @shadow-grey;
          box-shadow: 2px 2px 20px @shadow-grey;
}

/**
 * ----------------------------------------------------------------------------
 * Font faces
 * ---------------------------------------------------------------------------
 */
@font-face {
    font-family: 'FuturaTS-Regular';
    src: url('/fonts/FuturaTS-Regular.eot');
    src: url('/fonts/FuturaTS-Regular.eot?#iefix') format('embedded-opentype'),
         url('/fonts/FuturaTS-Regular.woff') format('woff'),
         url('/fonts/FuturaTS-Regular.ttf') format('truetype'),
         url('/fonts/FuturaTS-Regular.svg#FuturaTS-Demibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaTS-Demibold';
    src: url('/fonts/FuturaTS-Demibold.eot');
    src: url('/fonts/FuturaTS-Demibold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/FuturaTS-Demibold.woff') format('woff'),
         url('/fonts/FuturaTS-Demibold.ttf') format('truetype'),
         url('/fonts/FuturaTS-Demibold.svg#FuturaTS-Demibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaTS-Light';
    src: url('/fonts/FuturaTS-Light.eot');
    src: url('/fonts/FuturaTS-Light.eot?#iefix') format('embedded-opentype'),
         url('/fonts/FuturaTS-Light.woff') format('woff'),
         url('/fonts/FuturaTS-Light.ttf') format('truetype'),
         url('/fonts/FuturaTS-Light.svg#FuturaTS-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaTS-Medium';
    src: url('/fonts/FuturaTS-Medium.eot');
    src: url('/fonts/FuturaTS-Medium.eot?#iefix') format('embedded-opentype'),
         url('/fonts/FuturaTS-Medium.woff') format('woff'),
         url('/fonts/FuturaTS-Medium.ttf') format('truetype'),
         url('/fonts/FuturaTS-Medium.svg#FuturaTS-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}
