@import "_animate.import.less";
@import "_colors.import.less";
@import "_sizes.import.less";
@import "_font-sizes.import.less";
@import "graphic-panel.import.less";

/**
 * ----------------------------------------------------------------------------
 * Body and containers
 * ----------------------------------------------------------------------------
 */
body {
  background: #000;
  /**
   * Dev background colors for reviewing media in graphic color context
   */
  /*background: darken(@torrey-pines-green-darker, 15%);*/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body.show-cursor {
  cursor: default;
}

body.hide-cursor {
  cursor: none;
}

/**
 * Make the primary container relative so that we can position things inside
 * of it with some absolute numbers.
 */
.container {
  position: relative;
}

.container,
.container-map {
  width: @screen-width;
  max-width: @screen-width;
  height: @screen-height;
  padding: 0;
  background: lighten(@background-tan, 10%);
  overflow: hidden;
}

.components .row {
  margin-top: 1px;
}

/**
 * Used when loading content
 */
#spinner {
  height: 300px;
}

.not-found {
  margin-top: 50px;
  text-align: center;
}

.mouse-x,
.mouse-y {
  float: right;
  margin: 10px;
}

#screensaver {
  width: @screen-width;
  max-width: @screen-width;
  height: @screen-height;
  padding: 0;
  background: lighten(@background-tan, 10%);
  font-size: 80px;
  color: #FFF;
  z-index: 9999;
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
}

/**
 * ----------------------------------------------------------------------------
 * Global text styles
 * ----------------------------------------------------------------------------
 */
body {
  // This is what they want for style and visibility.
  // It just might be too much for the ammount of copy that they have
  /*font-family: 'FuturaTS-Medium', sans-serif;*/
  // This works better.
  font-family: 'FuturaTS-Regular', sans-serif;
  font-size: @body-font-size;
  line-height: @body-line-height;
}

h1, h2, h3 {
  font-family: 'FuturaTS-Demibold', sans-serif;
  margin-top: 0;
}

a.btn,
a.btn:hover,
a.btn:active {
  text-decoration: none;
}

/* Spanish text */
.marker-pop-up .esp,
.body-copy .esp,
.subpage-selector h3 .esp {
  color: darken(@golden-spanish, 40%);
}

/* Latin language text for scientific names */
.latin {
  font-style: italic;
}

/**
 * ----------------------------------------------------------------------------
 * Homepage
 * ----------------------------------------------------------------------------
 */
.welcome-title {
  z-index: 2000;
  font-family: 'FuturaTS-Medium';
  position: absolute;
  left: 25px;
  bottom: 25px;
  color: white;
  width: 550px;
}

.welcome-title .eng {
  font-size: @welcome-font-size;
  letter-spacing: @welcome-font-letter-spacing;
}

.welcome-title .esp {
  color: lighten(@golden-spanish, 10%);
  font-size: @welcome-font-size-esp;
  margin-top: 25px;
  letter-spacing: @welcome-font-letter-spacing-esp;
}

.welcome-title {
  text-shadow: 0px 3px 3px rgba(0,0,0,0.4), 
    0px 6px 13px rgba(0,0,0,0.1), 
    0px 18px 23px rgba(0,0,0,0.1);
}

.embossed {
  color: rgba(0,0,0,0.6);
  text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
}

/**
 * Home screen primary footer navigation
 */
.menu-footer {
  position: absolute;
  top: auto;
  left: auto;
  right: 0;
  bottom: 0;
  width: 800px;
  padding-left: 11px;
}

.menu-footer .btn {
  font-family: 'FuturaTS-Light', sans-serif;
  float: left;
  white-space: normal;
  width: 263px;
  height: 100px;
  margin: 0;
  padding: 20px 10px 10px 15px;
  text-align: left;
  font-size: @menu-font-size;
  border: none;
  border-radius:0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.menu-footer .btn .esp {
  color: lighten(@golden-spanish, 10%);
  font-size: @menu-font-size-esp;
  margin-top: 10px;
  line-height: 47px;
}

/**
 * This was suggested by the print designer, but I (BCK) really don't like it.
 * I'm leaving it here for reference so that it's obvious that we don't
 * want to go this direction.
 */
/*.menu-footer .btn {*/
  /*text-align: center;*/
/*}*/

.postcard {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

.jaunt-left-02 {
  -webkit-transform: rotate(-2deg);
      -ms-transform: rotate(-2deg);
          transform: rotate(-2deg);
}

.jaunt-right-02 {
  transform: rotate(2deg);
  -ms-transform: rotate(2deg); /* IE 9 */
  -webkit-transform: rotate(2deg); /* Safari and Chrome */
  -o-transform: rotate(2deg); /* Opera */
  -moz-transform: rotate(2deg); /* Firefox */
  -webkit-backface-visibility: hidden;
}

.postcard-border {
  border-right: 10px solid white;
  border-top: 10px solid white;
  background: white;
}

.postcard-shadow {
  -webkit-box-shadow: 2px 2px 20px @shadow-grey;
          box-shadow: 2px 2px 20px @shadow-grey;
}

/**
 * ----------------------------------------------------------------------------
 * Inner page - layout and dimensions
 * ----------------------------------------------------------------------------
 */
.btn-close,
.btn-close:hover,
.btn-home,
.btn-home:hover {
  position: absolute;
  bottom: 0px;
  left: 0px;
  font-size: 35px;
  padding: 10px 0 10px 0;
  color: lighten(@background-tan, 12%);
  text-align: center;
}

.body-copy,
.body-copy .btn-home {
  width: 543px;
}

.body-copy {
  position: absolute;
  background: lighten(@background-tan, 6%);
  bottom: 0;
  left: 0;
  padding: 1em 1.5em 1.5em 1.5em;
  height: 100%;
  -webkit-box-shadow: 2px 2px 20px @shadow-grey;
          box-shadow: 2px 2px 20px @shadow-grey;
}

/* Inner page headlines - English */
.body-copy h3,
.subpage-selector h3 {
  font-family: 'FuturaTS-Demibold', sans-serif;
  font-size: @inner-headline-font-size;
  letter-spacing: @inner-headline-letter-spacing;
  margin-bottom: 15px;
}

/* Inner page headlines - Spanish */
.body-copy h3 .esp,
.subpage-selector h3 .esp {
  margin-top: 10px;
  font-size: @inner-headline-font-size-esp;
  letter-spacing: @inner-headline-letter-spacing;
}

/* Inner page body copy - Spanish */
.body-text .esp {
  display: block;
  font-size: 19px;
  margin-top: 18px;
}

/* Inner page headlines - Horizontal - Spanish */
.body-copy.horizontal .esp h3 {
  font-size: 25px;
  margin-top: 0;
}

.body-copy .image {
  position: relative;
  margin-bottom: 10px;
}

.body-copy .credit {
  top: 10px;
  right: 15px;
  position: absolute;
  color: rgba(255, 255, 255, .5);
  font-family: 'FuturaTS-Light', sans-serif;
  font-size: 8px;
  -webkit-transform: rotate(-90deg);
  -webkit-transform-origin: 100% 0;
}

.body-copy .caption {
  font-family: 'FuturaTS-Light', sans-serif;
  font-size: 16px;
  line-height: 19px;
}

/**
 * ----------------------------------------------------------------------------
 * Page type styles
 * ----------------------------------------------------------------------------
 */

/**
 * Where is is?
 */
.body-copy.where-is-it,
.body-copy.where-is-it .btn-home,
.body-copy.where-are-they,
.body-copy.where-are-they .btn-home {
  width: 600px;
}

.body-copy.where-is-it img,
.body-copy.where-are-they img {
  width: 540px;
}

.body-copy.subpage-page.crest-canyonbropen-space-park-preserve .body-images img,
.body-copy.subpage-page.cabrillo-national-monumentbrbayside-trail .body-images img,
.body-copy.subpage-page.black-mountain-open-space-parkbrminers-loop .body-images img,
.body-copy.subpage-page.san-dieguito-river-parkbrcoast-to-crest-trail-–-del-mar .body-images img,
.body-copy.subpage-page.los-peñasquitos-canyon-preservebrlopez-canyon .body-images img,
.body-copy.subpage-page.tijuana-river-national-estuarine-research-reserve-north-beach-trail .body-images img,
.body-copy.subpage-page.cuyamaca-rancho-state-park-stonewall-peak .body-images img,
.body-copy.subpage-page.palomar-mountain-state-park-thunder-springchimney-flats .body-images img,
.body-copy.subpage-page.san-dieguito-river-park-old-coach-staging-area-–-coast-to-crest-trail .body-images img,
.body-copy.subpage-page.cuyamaca-rancho-state-park-green-valley-falls-loop .body-images img,
.body-copy.subpage-page.torrey-pines-state-natural-reservebrgonzales-canyon-–-torrey-pines-loop .body-images img {
  width: 410px;
}

.body-copy.subpage-page.michael-wallbrvice-president-of-research-and-public-programs .body-images img,
.body-copy.subpage-page.susie-arterbrcodirector-of-zooarchaeology-lab .body-images img,
.body-copy.subpage-page.jon-rebmanbrcurator-of-botany .body-images img {
  width: 305px;
}

.body-copy.explore,
.body-copy.explore .btn-home {
  width: @screen-width;
}

/**
 * Subpage selectors
 * 
 * Used for navigating to the Explore and Scientist pages
 */
.subpage-selector {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: @screen-width;
}

.subpage-selector-header {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background: lighten(@background-tan, 6%);
  z-index: 1000;
}

.subpage-selector-header h3 {
  margin: 20px;
}

.subpage-selector .btn-home,
.subpage-selector-header {
  width: @screen-width;
}

.subpage-selector-buttons {
  margin: 117px 0 0 0;
}

.subpage-button {
  float: left;
  margin: 0;
  background: lighten(@background-tan, 7%);
  width: 342px;
  border-right: 2px solid #fff;
  overflow: hidden;
}

.subpage-button-4 {
  border-right: 0px;
  width: 340px;
}

.subpage-button h4 {
  margin: 15px;
  height: 89px;
  font-size: 20px;
}

.subpage-button h4 .esp {
  margin-top: 6px;
  font-size: 18px;
}

.subpage-button .esp {
  color: darken(@background-tan, 40%);
  letter-spacing: 0.03em;
}

.subpage-button-1 {
  background: darken(@background-tan, 3%);
  -webkit-animation-delay: 0.4s;
}

.subpage-button-2 {
  background: lighten(@background-tan, 3%);
  -webkit-animation-delay: 0.45s;
}

.subpage-button-3 {
  background: lighten(@background-tan, 5%);
  -webkit-animation-delay: 0.50s;
}

.subpage-button-4 {
  background: lighten(@background-tan, 7%);
  -webkit-animation-delay: 0.55s;
}

/* Scientist features */
.map-stories + .subpage-selector .subpage-button {
  width: 50%;
}

.map-stories + .subpage-selector .subpage-button img {
  width: 684px;
  height: 496px;
}

/**
 * Explore
 */
.map-explore,
.map-stories {
  background-image: url("/images/map-base-human-v02.png");
  -webkit-filter: blur(4px) grayscale(60%);
  padding: 5px * 2;
  top: -(5px * 2);
  left: -(5px * 2);
}

.map-menu {
  background-image: url("/images/map-base-human-v02.png");
}

.map-menu.natural,
.map-menu-natural {
  background-image: url("/images/map-base-natural-v02.png");
}

/**
 * Explore subpages
 */
.subpage-page.body-copy,
.subpage-page.body-copy .btn-home {
  width: 775px;
}

.subpage-page.body-copy .body-images img {
  width: 460px;
}

.subpage-page .body-images,
.body-copy.rare-habitat .body-images,
.body-copy.tough-habitat .body-images {
  float: right;
  margin-left: 20px;
}

/**
 * Explore website callouts
 */
.website-text {
  margin-top: 25px;
  background: darken(@background-tan, 3%);
  padding: 10px 0;
  clear: both;
}

.website-text .eng,
.website-text .esp {
  float: left;
  margin: 0 0 10px 0;
  padding: 0;
  width: 45%;
  font-size: 17px;
}

.website-text .eng {
  text-align: right;
  margin-right: 5%;
}

.website-text .esp {
  margin-left: 5%;
  text-align: left;
}

.website-text .url {
  text-align: center;
}

/**
 * Background image captions
 * 
 * Primarily used on scientist features
 */
.background-caption {
  position: absolute;
  top: auto;
  bottom: 0px;
  left: auto;
  right: 0px;
  background: @background-tan;
  margin: 0;
  padding: 15px;
}

.background-caption .esp {
  color: darken(@golden-spanish, 30%);
  font-size: 19px;
  margin-top: 25px;
}

.background-caption .latin {
  font-size: 19px;
  margin-top: 25px;
  font-style: italic;
}

/**
 * ----------------------------------------------------------------------------
 * Component specific styles
 * ----------------------------------------------------------------------------
 */

/**
 * 0316 - Wetlands - Homepage buttons
 */
.wetlands .buttons .btn,
.wetlands .buttons .btn:hover {
  color: white;
}

/* Helps with some long titles */
.wetlands .buttons .esp {
  font-size: 18px;
}

.wetlands .buttons .btn-1 {
  background: darken(@wetlands-blue, 5%);
  padding-left: 32px;
}

.wetlands .buttons .btn-2 {
  background: darken(@wetlands-blue, 7%);
}

.wetlands .buttons .btn-3 {
  background: darken(@wetlands-blue, 9%);
}

.wetlands .buttons .btn-4 {
  background: darken(@wetlands-blue, 11%);
  padding-left: 32px;
}

.wetlands .buttons .btn-5 {
  background: darken(@wetlands-blue, 13%);
}

.wetlands .buttons .btn-6 {
  background: darken(@wetlands-blue, 15%);
}

.wetlands .btn-close,
.wetlands .btn-close:hover,
.wetlands .btn-home,
.wetlands .btn-home:hover {
  background: darken(@wetlands-blue, 15%);
}

.wetlands .btn-close {
  width: 530px;
}

/**
 * 0316 - Wetlands - Background images
 */
.map-wet-where {
  background-image: url("/images/wet-where-map-v07.png");
}

.map-wet-wetlands {
  background-image: url("/images/wet-wetlands-map.png");
}

.map-wet-explore-bolsa {
  background-image: url("/images/wet-wetlands-explore-bolsa-v03.png");
}

.map-wet-explore-elijo {
  background-image: url("/images/wet-explore-elijo-map-v01.png");
}

.map-wet-explore-delmar {
  background-image: url("/images/wet-explore-delmar-map-v01.png");
}

.map-wet-explore-northbeach {
  background-image: url("/images/wet-explore-northbeach-map-v01.png");
}

.map-wet-migration {
  background-image: url("/images/wet-migration-map-v02.png");
}

.sci-wet-marsh {
  background-image: url("/images/sci-rebman-jon-dodder.jpg");
  background-position: right;
}

.sci-wet-wren {
  background-image: url("/images/sci-unitt-phill-wren.jpg");
  background-position: right;
}

.map-wet-then-now {
  background-image: url("/images/tp-explore-miners-map.png");
}

/**
 * 0316 - Wetlands - Layout and dimensions
 */
.body-copy.our-wetlands {
  height: 229px;
}

.body-copy.our-wetlands,
.body-copy.our-wetlands .btn-home {
  width: @screen-width;
}

.subpage-button.tijuana-river-national-estuarine-research-reserve-north-beach-trail .esp {
  font-size: 16px;
  letter-spacing: 0;
}

.subpage-page.body-copy.coast-to-crest-trail-–-brdel-mar-san-dieguito-river-park,
.subpage-page.body-copy.coast-to-crest-trail-–-brdel-mar-san-dieguito-river-park .btn-home {
  width: 820px;
}

/**
 * 0316 - Wetlands - Background compare slider
 */
.before-after-slider {
  position: relative;
  width: @screen-width;
  height: @screen-height;
}

.before-after-slider div {
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.top-image {
  /*border-right: solid 2px white;*/
  -webkit-box-shadow: 2px 2px 20px @shadow-grey;
          box-shadow: 2px 2px 20px @shadow-grey;
}

#handle {
  position: absolute;
  right: auto;
  left: auto;
  bottom: auto;
  /*background: rgba(34,55, 123, 0.5);*/
}

.before-after-slider .top-image .label,
.before-after-slider .bottom-image .label {
  top: auto;
  bottom: 20px;
  left: auto;
  right: 10px;
  font-size: 1.5em;
  color: #000;
  line-height: 1.1;
  letter-spacing: .5px;
}

.before-after-slider .bottom-image {
  -webkit-filter: sepia(15%);
}

/**
 * 0316 - Wetlands - Map markers
 */

.marker-svg {
  position: absolute;
  top: 0;
  left: 0;
}

.marker-line {
  stroke: #527193;
  stroke-width: 4;
  fill: none;
}

.map-wet-wetlands .marker-line {
  stroke-width: 2;
}

.marker-circle {
  fill: #FFF;
  stroke: #527193;
}

.map-wet-migration .marker-circle {
  stroke-width: 4;
}

.map-wet-wetlands .marker-circle {
  stroke-width: 2;
}

.marker-clicked {
  fill: #527193;
  stroke: #FFF;
  stroke-width: 4;
}

.wetland-name {
  position: absolute;
  background: #fff;
  padding: 10px;
  font-size: 30px;
  border: 1px solid #527193;
  -webkit-box-shadow: 2px 2px 5px @shadow-grey;
          box-shadow: 2px 2px 5px @shadow-grey;
}

.marker {
  width: @screen-width;
  height: @screen-height;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.marker .marker-number {
  font-size: 25px;
  text-align: center;
}

.marker .marker-order {
  position: absolute;
  font-size: 20px;
  width: 40px;
  height: 40px;
  text-align: center;
  padding-top: 6px;
  pointer-events: visible;
}

.marker .marker-label {
  position: absolute;
  text-align: center;
  font-size: 30px;
  opacity: 0;
  background: #fff;
  padding: 10px;
  z-index: 100;
}

.marker canvas {
  pointer-events: none;
  opacity: .2;
}

.marker-dot .marker-order {
  pointer-events: visible;
}

.marker-circle-active {
  stroke: #FFF;
}

.marker-pop-up {
  pointer-events: none;
  opacity: 0;
  background: lighten(@background-tan, 6%);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 530px;
  height: 768px;
  padding: 30px;
  -webkit-box-shadow: 2px 2px 20px @shadow-grey;
          box-shadow: 2px 2px 20px @shadow-grey;
}

.popActive {
  pointer-events: all;
}

.marker-pop-up img {
  width: 470px;
}

.marker-pop-up .caption {
  position: relative;
  margin-top: -77px;
  margin-bottom: 10px;
  left: 0;
  background: #FFF;
  width: 175px;
  padding: 10px;
}

/**
 * 0316 - Wetlands - Map marker animations
 */
@-webkit-keyframes fadeMarkerOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: .5;
  }
}

.fadeMarkerOut {
  -webkit-animation-name: fadeMarkerOut;
  animation-name: fadeMarkerOut;
}

@-webkit-keyframes fadeMarkerIn {
  0% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

.fadeMarkerIn {
  -webkit-animation-name: fadeMarkerIn;
  animation-name: fadeMarkerIn;
  -vendor-animation-duration: .5s;
}

/**
 * 0416 - Torrey Pines - Home page buttons
 */
.torrey-pines .buttons .btn-1 {
  background: darken(@torrey-pines-buttons, 5%);
  padding-left: 26px;
}

.torrey-pines .buttons .btn-2 {
  background: darken(@torrey-pines-buttons, 7%);
}

.torrey-pines .buttons .btn-3 {
  background: darken(@torrey-pines-buttons, 9%);
}

.torrey-pines .buttons .btn-4 {
  background: darken(@torrey-pines-buttons, 11%);
  padding-left: 26px;
}

.torrey-pines .buttons .btn-5 {
  background: darken(@torrey-pines-buttons, 13%);
}

.torrey-pines .buttons .btn-6 {
  background: darken(@torrey-pines-buttons, 15%);
}

.torrey-pines .buttons .btn,
.torrey-pines .buttons .btn:hover {
  color: white;
}

.torrey-pines .btn-home,
.torrey-pines .btn-home:hover {
  background: darken(@torrey-pines-buttons, 15%);
}

/**
 * 0416 - Torrey Pines - Background images
 */
.map-tp-park {
  background-image: url("/images/tp-park-map-v01.png");
}

.map-tp-extent {
  background-image: url("/images/tp-species-extent-map-v02.png");
}

.map-tp-floristic {
  background-image: url("/images/tp-floristic-map-v03.png");
}

.map-tp-med {
  background-image: url("/images/tp-med-map.png");
  background-position: right 0;
}

.map-tp-explore-tp {
  background-image: url("/images/tp-explore-tp-map-v03.png");
}

.map-tp-explore-crest {
  background-image: url("/images/tp-explore-crest-map-v02.png");
}

.map-tp-explore-bayside {
  background-image: url("/images/tp-explore-bayside-map-v03.png");
}

.map-tp-explore-miners {
  background-image: url("/images/tp-explore-miners-map-v03.png");
}

.sci-tp-midden,
.sci-tp-flower {
  background-size: cover;
  background-repeat: no-repeat;
  background-postion: right;
}

.sci-tp-midden {
  background-image: url("/images/sci-arter-susie-midden.jpg");
}

.sci-tp-flower {
  /*background-image: url("/images/sci-rebman-jon-flower.jpg");*/
  background-image: url("/images/sci-rebman-jon-flower.gif");
}

/**
 * 0416 - Torrey Pines - Layout and dimensions
 */
.body-copy.rare-habitat,
.body-copy.rare-habitat .btn-home {
  width: 785px;
}

.body-copy.rare-habitat .body-images img {
  width: 305px;
}

.body-copy.rare-habitat p {
  width: 95%;
}

.body-copy.rare-tree,
.body-copy.rare-tree .btn-home {
  width: 610px;
}

.body-copy.rare-tree .body-images {
  float: right;
  margin-left: 20px;
}

.body-copy.rare-tree .body-images img {
  width: 335px;
}

.body-copy.rare-climate-zone {
  height: 327px;
}

.body-copy.rare-climate-zone,
.body-copy.rare-climate-zone .btn-home {
  width: @screen-width;
}

.body-copy.cabrillo-national-monumentbrbayside-trail h3 {
  font-size: 35px;
}

.body-copy.black-mountain-open-space-parkbrminers-loop h3 {
  font-size: 32px;
}

.body-copy.black-mountain-open-space-parkbrminers-loop h3 .esp {
  font-size: 25px;
}

.subpage-page.body-copy.miners-loopbrblack-mountain-open-space-park,
.subpage-page.body-copy.miners-loopbrblack-mountain-open-space-park .btn-home {
  width: 800px;
}

.subpage-page.body-copy.jon-rebmanbrcurator-of-botany,
.subpage-page.body-copy.jon-rebmanbrcurator-of-botany .btn-home {
  width: 570px;
}

.subpage-page.body-copy.susie-arterbrcodirector-of-zooarchaeology-lab,
.subpage-page.body-copy.susie-arterbrcodirector-of-zooarchaeology-lab .btn-home {
  width: 665px;
}

.jon-rebmanbrcurator-of-botany + .background-caption {
  width: 100px;
  height: 120px;
}

.body-copy.susie-arterbrcodirector-of-zooarchaeology-lab h3 .esp {
  font-size: 23px;
}

.susie-arterbrcodirector-of-zooarchaeology-lab + .background-caption {
  width: 34%;
  height: 80px;
}

/**
 * 0516 - Canyons - Homepage buttons
 */
.canyons .buttons .btn,
.canyons .buttons .btn:hover {
  color: white;
}

.canyons .buttons .btn-1 {
  background: darken(@torrey-pines-green-darker, 5%);
  padding-left: 36px;
}

.canyons .buttons .btn-2 {
  background: darken(@torrey-pines-green-darker, 7%);
}

.canyons .buttons .btn-3 {
  background: darken(@torrey-pines-green-darker, 9%);
}

.canyons .buttons .btn-4 {
  background: darken(@torrey-pines-green-darker, 11%);
  padding-left: 36px;
  width: 394px;
}

.canyons .buttons .btn-5 {
  background: darken(@torrey-pines-green-darker, 13%);
  width: 395px;
}

.canyons .btn-home,
.canyons .btn-home:hover {
  background: darken(@torrey-pines-green-darker, 15%);
}

/**
 * 0516 - Canyons - Background images
 */
.map-can-where {
  background-image: url("/images/can-where-map.png");
}

.map-can-our {
  background-image: url("/images/can-our-map-v03.png");
}

.map-can-wild {
  background-image: url("/images/can-migration-map-v03.png");
}

.sci-can-bees {
  background-image: url("/images/sci-wall-michael-bees.jpg");
  background-position: right;
}

.sci-can-weasel {
  background-image: url("/images/sci-tremor-scott-weasel.jpg");
  background-position: right;
}

.sci-can-spider {
  background-image: url("/images/sci-berrian-jim-spider.jpg");
  background-position: right;
}

.map-can-explore-placerita {
  background-image: url("/images/can-explore-placerita-map-v02.png");
}

.map-can-explore-florida {
  background-image: url("/images/can-explore-florida-map.png");
}

.map-can-explore-gonzales {
  background-image: url("/images/can-explore-gonzales-map.png");
}

.map-can-explore-lopez {
  background-image: url("/images/can-explore-lopez-map.png");
}

/**
 * 0516 - Canyons - Layout and dimensions
 */
.map-can-where+.body-copy img {
  width: 540px;
}

.body-copy.wildlife-corridors,
.body-copy.wildlife-corridors .btn-home {
  width: 600px;
}

.body-copy.placerita-canyonbrstate-park,
.body-copy.placerita-canyonbrstate-park .btn-home {
  width: 685px;
}

.body-copy.wildlife-corridors .image {
  float: right;
  margin-left: 20px;
}

.body-copy.wildlife-corridors img {
  width: 300px;
}

.subpage-button.torrey-pines-state-natural-reservebrgonzales-canyon-–-torrey-pines-loop h4,
.subpage-button.torrey-pines-state-natural-reservebrgonzales-canyon-–-torrey-pines-loop .esp {
  font-size: 18px;
  letter-spacing: 0;
}

.subpage-button.torrey-pines-state-natural-reservebrgonzales-canyon-–-torrey-pines-loop .esp {
  font-size: 17px;
}

/**
 * 0616 - Streams - Homepage buttons
 */
.streams .buttons .btn,
.streams .buttons .btn:hover {
  color: white;
}

.streams .buttons .btn-1 {
  background: darken(@riparian-green, 5%);
  padding-left: 36px;
}

.streams .buttons .btn-2 {
  background: darken(@riparian-green, 7%);
}

.streams .buttons .btn-3 {
  background: darken(@riparian-green, 9%);
}

.streams .buttons .btn-4 {
  background: darken(@riparian-green, 11%);
  padding-left: 36px;
  width: 394px;
}

.streams .buttons .btn-5 {
  background: darken(@riparian-green, 13%);
  width: 395px;
}

.streams .btn-home,
.streams .btn-home:hover {
  background: darken(@riparian-green, 15%);
}

/**
 * 0616 - Streams - Background images
 */
.map-streams-where {
  background-image: url("/images/streams-where-v02.png");
}

.map-streams-watersheds {
  background-image: url("/images/streams-wetlands-v03.png");
}

.map-streams-aquifers {
  background-image: url("/images/streams-aquifer-map.png");
}

.map-streams-explore-la {
  background-image: url("/images/streams-explore-los-angeles-map.png");
}

.map-streams-explore-blue-sky {
  background-image: url("/images/streams-explore-blue-sky-map.png");
}

.map-streams-explore-old-coach {
  background-image: url("/images/streams-explore-old-coach-map.png");
}

.map-streams-explore-green-valley {
  background-image: url("/images/streams-explore-green-valley-map.png");
}

.sci-streams-turtle {
  background-image: url("/images/sci-stepek-melissa-turtle.jpg");
  background-position: right;
}

.sci-streams-cuckoo {
  background-image: url("/images/sci-clark-kevin-cuckoo.jpg");
  background-position: right;
}

/**
 * 0616 - Streams - Layout and dimensions
 */
.body-copy.watersheds,
.body-copy.watersheds .btn-home {
  width: @screen-width;
}

.body-copy.watersheds {
  height: 292px;
}

.subpage-button.san-dieguito-river-park-old-coach-staging-area-–-coast-to-crest-trail h4,
.subpage-button.san-dieguito-river-park-old-coach-staging-area-–-coast-to-crest-trail .esp {
  font-size: 18px;
  letter-spacing: 0;
}

.subpage-button.san-dieguito-river-park-old-coach-staging-area-–-coast-to-crest-trail .esp {
  font-size: 17px;
}

.body-copy.san-dieguito-river-park-old-coach-staging-area-–-coast-to-crest-trail,
.body-copy.san-dieguito-river-park-old-coach-staging-area-–-coast-to-crest-trail .btn-home {
  width: 855px;
}

/**
 * 0704 - Chaparral - Homepage buttons
 */
.chaparral .buttons .btn,
.chaparral .buttons .btn:hover {
  color: white;
}

.chaparral .buttons .btn-1 {
  background: darken(@mountains-blue, 2%);
  padding-left: 36px;
}

.chaparral .buttons .btn-2 {
  background: darken(@mountains-blue, 3%);
}

.chaparral .buttons .btn-3 {
  background: darken(@mountains-blue, 4%);
}

.chaparral .buttons .btn-4 {
  background: darken(@mountains-blue, 5%);
  padding-left: 36px;
}

.chaparral .buttons .btn-5 {
  background: darken(@mountains-blue, 6%);
  padding-left: 36px;
  width: 394px;
}

.chaparral .buttons .btn-6 {
  background: darken(@mountains-blue, 7%);
  width: 395px;
}

.chaparral .btn-home,
.chaparral .btn-home:hover {
  background: darken(@mountains-blue, 7%);
}

/**
 * 0704 - Chaparral - Background images
 */
.map-chaparral-where {
  background-image: url("/images/chaparral-where-v02.png");
}

.map-chaparral-tough-habitat {
  background-image: url("/images/chaparral-where-v02.png");
}

.map-chaparral-explore-chino-hills {
  background-image: url("/images/chaparral-explore-chino-hills-map.png");
}

.map-chaparral-explore-daley-ranch {
  background-image: url("/images/chaparral-explore-daley-ranch-map.png");
}

.map-chaparral-explore-green-valley {
  background-image: url("/images/chaparral-explore-green-valley-map.png");
}

.map-chaparral-explore-iron-mountain {
  background-image: url("/images/chaparral-explore-iron-mountain-map-v02.png");
}

.sci-chaparral-lizard {
  background-image: url("/images/sci-kabes-laura-lizard.jpg");
  background-position: right;
}

.sci-chaparral-bat {
  background-image: url("/images/sci-stokes-drew-bat.jpg");
  background-position: right;
}
/**
 * 0704 - Chaparral - Layout and dimensions
 */
.body-copy.tough-habitat,
.body-copy.tough-habitat .btn-home {
  width: 720px;
}

.body-copy.tough-habitat .body-images img {
 width: 310px;
}

.body-copy.subpage-page.drew-stokesbrwildlife-biologist,
.body-copy.subpage-page.drew-stokesbrwildlife-biologist .btn-home {
  width: 655px;
}

.body-copy.subpage-page.laura-kabesbrherpetologist,
.body-copy.subpage-page.laura-kabesbrherpetologist .btn-home,
.body-copy.subpage-page.drew-stokesbrwildlife-biologist,
.body-copy.subpage-page.drew-stokesbrwildlife-biologist .btn-home {
  width: 655px;
}

.body-copy.subpage-page.laura-kabesbrherpetologist .body-images img,
.body-copy.subpage-page.drew-stokesbrwildlife-biologist .body-images img {
  width: 360px;
}

/**
 * 0816 - Mountains - Homepage buttons
 */
.mountains .welcome-title {
  text-shadow: 0px 3px 10px rgba(0,0,0,0.9), 
    0px 6px 13px rgba(0,0,0,0.1), 
    0px 18px 23px rgba(0,0,0,0.1);
}

.mountains .buttons .btn,
.mountains .buttons .btn:hover {
  color: white;
}

.mountains .buttons .btn-1 {
  background: lighten(@mountains-blue, 5%);
  padding-left: 36px;
}

.mountains .buttons .btn-2 {
  background: lighten(@mountains-blue, 7%);
}

.mountains .buttons .btn-3 {
  background: lighten(@mountains-blue, 9%);
}

.mountains .buttons .btn-4 {
  background: lighten(@mountains-blue, 11%);
  padding-left: 36px;
  width: 394px;
}

.mountains .buttons .btn-5 {
  background: lighten(@mountains-blue, 13%);
  width: 395px;
}

.mountains .btn-home,
.mountains .btn-home:hover {
  background: lighten(@mountains-blue, 15%);
}

/**
 * 0816 - Mountains - Background images
 */
.map-mtn-where {
  background-image: url("/images/mtn-where-map.png");
}

.map-mtn-our {
  background-image: url("/images/mtn-our-map-v03.png");
}

.sci-mtn-woodpecker {
  background-image: url("/images/sci-hargrove-lori-woodpecker.jpg");
  background-position: right;
}

.map-mtn-explore-palomar {
  background-image: url("/images/mtn-explore-palomar-map.png");
}

.map-mtn-explore-stonewall {
  background-image: url("/images/mtn-explore-stonewall-map.png");
}

.map-mtn-explore-volcan {
  background-image: url("/images/mtn-explore-volcan-map.png");
}

.map-mtn-explore-thunder {
  background-image: url("/images/mtn-explore-thunder-map.png");
}

/**
 * 0816 - Mountains - Layout and dimensions
 */
.body-copy.subpage-page.cuyamaca-rancho-state-park-stonewall-peak .body-images img {
  width: 450px;
}

.body-copy.subpage-page.lori-hargrovebrecologist,
.body-copy.subpage-page.lori-hargrovebrecologist .btn-home {
  width: 880px;
}

.body-copy.our-mountains {
  height: 210px;
}

.map-wet-then-now+.body-copy.rare-habitat {
  height: 260px;
}

.body-copy.our-mountains,
.body-copy.our-mountains .btn-home,
.map-wet-then-now+.body-copy.rare-habitat,
.map-wet-then-now+.body-copy.rare-habitat .btn-home {
  width: @screen-width;
}


/**
 * 0916 - Desert - Homepage buttons
 */
.desert .buttons .btn,
.desert .buttons .btn:hover {
  color: white;
}

.desert .buttons .btn-1 {
  background: lighten(@desert-brown, 5%);
  width: 394px;
  padding-left: 36px;
}

.desert .buttons .btn-2 {
  background: lighten(@desert-brown, 7%);
  width: 395px;
}

.desert .buttons .btn-3 {
  background: lighten(@desert-brown, 9%);
  width: 394px;
  padding-left: 36px;
}

.desert .buttons .btn-4 {
  background: lighten(@desert-brown, 11%);
  width: 395px;
}

.desert .buttons .btn-5 {
  background: lighten(@desert-brown, 13%);
  width: 395px;
}

.desert .btn-home,
.desert .btn-home:hover {
  background: lighten(@desert-brown, 15%);
}

/**
 * 0916 - Desert - Background images
 */
.map-desert-where {
  background-image: url("/images/desert-where-map-v08.png");
}

.map-desert-our {
  background-image: url("/images/desert-mojave-map-v08.png");
}

.map-desert-explore-joshua {
  background-image: url("/images/desert-explore-joshua-map.png");
}

.map-desert-explore-hellhole {
  background-image: url("/images/desert-explore-hellhole-map.png");
}

.map-desert-explore-morteros {
  background-image: url("/images/desert-explore-morteros-map.png");
}

.map-desert-explore-mine {
  background-image: url("/images/desert-explore-mine-map.png");
}

.sci-desert-iguana {
  background-image: url("/images/sci-hollingsworth-brad-iguana.jpg");
}

.sci-desert-cholla {
  background-image: url("/images/sci-dykens-margi-cholla.jpg");
}

/**
 * 0916 - Desert - Layout and dimensions
 */
.body-copy.our-deserts,
.body-copy.our-deserts .btn-home {
  width: 735px;
}

.body-copy.margi-dykensbrregistrar-and-director-of-research-library,
.body-copy.margi-dykensbrregistrar-and-director-of-research-library .btn-home {
  width: 840px;
}

.body-copy.brad-hollingsworthbrcurator-of-herpetology,
.body-copy.brad-hollingsworthbrcurator-of-herpetology .btn-home {
  width: 700px;
}

.body-copy.brad-hollingsworthbrcurator-of-herpetology .body-images img {
  width: 400px;
}

.body-copy.our-deserts .body-images img {
  width: 305px;
}

.body-copy.our-deserts .body-images {
  float: right;
  margin-left: 20px;
}

.subpage-button.anzaborrego-desert-state-parkbrhellhole-canyonmaidenhair-falls h4,
.subpage-button.anzaborrego-desert-state-parkbrhellhole-canyonmaidenhair-falls .esp {
  font-size: 18px;
  letter-spacing: 0;
}

.subpage-button.anzaborrego-desert-state-parkbrhellhole-canyonmaidenhair-falls .esp {
  font-size: 17px;
}

.body-copy.subpage-page.anzaborrego-desert-state-park-mine-canyon .body-images img {
  width: 371px;
}

.body-copy.subpage-page.anzaborrego-desert-state-park-morteros-trail .body-images img {
  width: 400px;
}

/**
 * ----------------------------------------------------------------------------
 * Animations
 * ----------------------------------------------------------------------------
 */
.page-animation {
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  /*transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);,*/
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
}

.clickDown {
  opacity: 100%;
}

@-webkit-keyframes clickDown {
  100% {
    opacity: 100%;
    transform: scale3d(1, 1, 1);
  }
  20% {
    opacity: 100%;
    transform: scale3d(1, 1, 1);
  }
  10% {
    opacity: 100%;
    transform: scale3d(.99, .99, .99);
    /*-webkit-filter: contrast(80%);*/
    -webkit-box-shadow: inset 0 0 6px #000000;
  }
  0% {
    opacity: 100%;
  }
}

.clickDown {
  -webkit-animation-name: clickDown;
  animation-name: clickDown;
}

/**
 * Zoom in big
 */
@-webkit-keyframes zoomInBig {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
  }
}

.zoomInBig {
  -webkit-animation-name: zoomInBig;
}

/**
 * fadeOutDownBigLeft
 */
@-webkit-keyframes fadeOutDownBigLeft {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(-1000px, 2000px, 0);
    transform: translate3d(-1000px, 2000px, 0);
  }
}

@keyframes fadeOutDownBigLeft {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(-1000px, 2000px, 0);
    -ms-transform: translate3d(-1000px, 2000px, 0);
    transform: translate3d(-1000px, 2000px, 0);
  }
}

.fadeOutDownBigLeft {
  -webkit-animation-name: fadeOutDownBigLeft;
  animation-name: fadeOutDownBigLeft;
}


/**
 * fadeOutDownCustom
 */
@-webkit-keyframes fadeOutDownCustom {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes fadeOutDownCustom {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

.fadeOutDownCustom {
  -webkit-animation-name: fadeOutDownCustom;
  animation-name: fadeOutDownCustom;
}

/**
 * ----------------------------------------------------------------------------
 * Atomic parts
 * ----------------------------------------------------------------------------
 */
.btm-left {
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
}

.btm-right {
  top: auto;
  right: 0;
  bottom: 0;
  left: auto;
}

.border-top-1 {
  border: none;
  border-top: 1px solid @border-grey;
}

.border-left-1 {
  border-left: 1px solid @border-grey;
}

.border-right-1 {
  border-right: 1px solid @border-grey;
}

.bgc-white {
  background: white;
}

.brighter {
  -webkit-filter: brightness(1.5);
}

/**
 * Animation settings are handled in javascript
 *
 * .components .component.animate
 */

/**
 * Starting state for animations when a page is rendered
 */
.components .component.loading {
  opacity: 0;
}

/**
 * End state for components after loading class is removed
 */
.components .component {
  background: lighten(@wetlands-blue, 20%);
  padding: 15px;
  opacity: 1;
}

.components .component h3,
.components .component h3 a {
  font-family: 'FuturaTS-Medium', sans-serif;
  color: lighten(@wetlands-blue, 60%);
}

.map-animate {
  -webkit-transition: all 300ms 0ms ease-in;
          transition: all 300ms 0ms ease-in;
}

/**
 * Home screen button animateIn
 *
 * TODO - Do these with animate.css
 */
.buttons .btn {
  -webkit-transform: scale(1);
}

.buttons .btn.loading{
  -webkit-transform: scale(0);
}

/**
 * ----------------------------------------------------------------------------
 * Font faces
 * ---------------------------------------------------------------------------
 */
@font-face {
    font-family: 'FuturaTS-Regular';
    src: url('/fonts/FuturaTS-Regular.eot');
    src: url('/fonts/FuturaTS-Regular.eot?#iefix') format('embedded-opentype'),
         url('/fonts/FuturaTS-Regular.woff') format('woff'),
         url('/fonts/FuturaTS-Regular.ttf') format('truetype'),
         url('/fonts/FuturaTS-Regular.svg#FuturaTS-Demibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaTS-Demibold';
    src: url('/fonts/FuturaTS-Demibold.eot');
    src: url('/fonts/FuturaTS-Demibold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/FuturaTS-Demibold.woff') format('woff'),
         url('/fonts/FuturaTS-Demibold.ttf') format('truetype'),
         url('/fonts/FuturaTS-Demibold.svg#FuturaTS-Demibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaTS-Light';
    src: url('/fonts/FuturaTS-Light.eot');
    src: url('/fonts/FuturaTS-Light.eot?#iefix') format('embedded-opentype'),
         url('/fonts/FuturaTS-Light.woff') format('woff'),
         url('/fonts/FuturaTS-Light.ttf') format('truetype'),
         url('/fonts/FuturaTS-Light.svg#FuturaTS-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaTS-Medium';
    src: url('/fonts/FuturaTS-Medium.eot');
    src: url('/fonts/FuturaTS-Medium.eot?#iefix') format('embedded-opentype'),
         url('/fonts/FuturaTS-Medium.woff') format('woff'),
         url('/fonts/FuturaTS-Medium.ttf') format('truetype'),
         url('/fonts/FuturaTS-Medium.svg#FuturaTS-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}
