<template name="pagePage">
  <!-- Page -->
  <div class="container-map {{backgroundMapClass}} map-animate"></div>
  <div class="body-copy white-box">
    <h3>{{buttonTitle}}<br>
    <span class="esp">{{espButtonTitle}}</span></h3>
    <img src="/images/{{bodyImage}}">
    <p>
      {{bodyCopy}}
    </p>
    <p class="esp">
      {{espBodyCopy}}
    </p>
    <a class="btn-home" href="{{pathFor 'componentPage' _id=this.componentId}}">
      <!--Home-->
      <span class="glyphicon glyphicon-home"></span>
    </a>
  </div>

  <!-- /Page -->
</template>
