<template name="page">
  <!-- Template: page -->

  <div class="{{colorPalate}}">

    <!-- Map container -->
    <div class="container-map {{backgroundMapClass}} map-animate">

      {{#if bottomImage}}
      <!-- Display two maps for comparison, if they exist -->
        <div class="before-after-slider">
          <div class="bottom-image">
            <div class="label">{{{ bottomImageLabel }}}</div>
            <img src="/images/{{bottomImage}}">
          </div>
          <div class="top-image">
            <div class="label">{{{ topImageLabel }}}</div>
            <img src="/images/{{topImage}}">
          </div>
        </div>
        <canvas id="handle" width="40" height="100"></canvas>
      {{/if}}

      <!-- Dev: Mouse position -->
      <!--<div class="mouse-y"></div>-->
      <!--<div class="mouse-x"></div>-->

    </div>

    {{#if markers}}
      <!-- Display map markers, if they exist -->
      <div class="markers">
        {{#each markers}}
          <div class="marker">
            <canvas id="{{lowerSpacesToDashes this.label}}"
              dot-left="{{this.dotLeft}}"
              dot-top="{{this.dotTop}}"
              arrow-left="{{this.arrowLeft}}"
              arrow-top="{{this.arrowTop}}"
              width="1366" height="768">
            </canvas>
            <div class="marker-order">{{this.order}}</div>
            <div class="marker-label {{lowerSpacesToDashes this.label}}-label">{{this.label}}</div>
          </div>
        {{/each}}
      </div>
    {{/if}}

    {{#unless subPages}}

      <!--
      Parent page view

      If there aren't any subpages,
      we just display the normal page layout
      -->
      <div class="body-copy white-box {{bodyCopyLayout}} {{lowerSpacesToDashes buttonTitle}}">

        {{#unless bodyCopyLayout}}

          <!-- Vertical layout -->
          <h3>
            {{{buttonTitle}}}<br>
            <span class="esp">{{{espButtonTitle}}}</span>
          </h3>

          <div class="body-images">
            {{#each bodyImages}}
              <div class="image">
                <img src="/images/{{this.fileName}}">
                <div class="credit">{{this.imageCredit}}</div>
                {{#if this.imageCaption}}
                  <div class="caption">
                    {{this.imageCaption}}<br>
                    <span class="esp">{{this.imageCaptionEsp}}</span><br>
                    <span class="latin">{{this.imageCaptionLatin}}</span>
                  </div>
                {{/if}}
              </div>
            {{/each}}
          </div>

          <div class="body-text">
            <p class="eng">{{{bodyCopy}}}</p>
            <p class="esp">{{{espBodyCopy}}}</p>
          </div>

          <a class="btn-home">
            <span class="glyphicon glyphicon-home"></span>
          </a>
          <!-- /Vertical layout -->

        {{else}}

          <!-- Horizontal layout -->
          <div class="row">
            <div class="col-lg-6 eng">
              <h3> {{buttonTitle}} </h3>
              {{{bodyCopy}}}
            </div>
            <div class="col-lg-6 esp">
              <h3> {{espButtonTitle}} </h3>
              {{{espBodyCopy}}}
            </div>
            <div class="row">
              <a class="btn-home">
                <span class="glyphicon glyphicon-home"></span>
              </a>
            </div>
          </div>
          <!-- /Horizontal layout -->

        {{/unless}}

      </div>

      <!-- /Parent page view -->

    {{else}}

      <!--
      Sub page selector view

      If there are sub pages, then we should display a menu for selecting them.
      This is mainly used on the Explore and scientist pages

      -->
      <div class="subpage-selector">
        <div class="subpage-selector-header">
          <h3>
            {{buttonTitle}}<br>
            <span class="esp">{{espButtonTitle}}</span>
          </h3>
        </div>
        <div class="subpage-selector-buttons">
          {{#each subPages}}
            {{> subPageButton}}
          {{/each}}
        </div>
        <a class="btn-home">
          <span class="glyphicon glyphicon-home"></span>
        </a>
      </div>
      <!-- /Sub page view -->

    {{/unless}}

  </div>

  <!-- /Template: page -->

</template>
