<template name="subPage">
  <div class="subpage-button subpage-button-{{order}} {{lowerSpacesToDashes buttonTitle}}">
    {{#each bodyImages}}
      <img src="/images/{{this.fileName}}">
    {{/each}}
    <h4>
      {{{buttonTitle}}}
      <div class="esp">{{{espButtonTitle}}}</div>
    </h4>
  </div>
</template>

<template name="subPagePage">
  <!-- Page -->
  <div class="container-map {{backgroundMapClass}} map-animate"></div>
    <!-- Parent page view -->
    <div class="body-copy white-box {{lowerSpacesToDashes buttonTitle}}">
      <h3>{{{buttonTitle}}}<br>
      <span class="esp">{{{espButtonTitle}}}</span></h3>

      <div class="body-images">
        {{#each bodyImages}}
        <div class="image">
          <img src="/images/{{this.fileName}}">
          <div class="credit">{{this.imageCredit}}</div>
          <div class="caption">{{{this.imageCaption}}}</div>
        </div>
        {{/each}}
      </div>

      <div class="body-text">
        <p>{{{bodyCopy}}}</p>
        <p class="esp">
          {{{espBodyCopy}}}
        </p>
        <a class="btn-home">
          <!--Home-->
        <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </div>
    </div>

  <!-- /Page -->
</template>
