<template name="subPageButton">
  <!-- Template: subPageButton -->

  <div class="subpage-button subpage-button-{{order}} {{lowerSpacesToDashes buttonTitle}}">
    <img src="/images/{{buttonImage}}">
    <h4>
      {{{buttonTitle}}}
      <div class="esp">{{{espButtonTitle}}}</div>
    </h4>
  </div>

  <!-- /Template: subPageButton -->
</template>

<template name="subPage">
  <!-- Template: subPage -->

  <div class="{{colorPalate}}">
    <div class="container-map {{backgroundMapClass}} map-animate"></div>

      {{#if backgroundCaption}}
        <div class="background-caption">
          {{backgroundCaption}}<br>
          <span class="esp">{{backgroundCaptionEsp}}</span><br>
          <span class="latin">{{backgroundCaptionLatin}}</span>
        </div>
      {{/if}}

      <div class="body-copy subpage-page white-box {{lowerSpacesToDashes buttonTitle}}">
        <h3>{{{buttonTitle}}}<br>
          <div class="esp">{{{brToSpace espButtonTitle}}}</div></h3>

        <div class="body-images">
          {{#each bodyImages}}
          <div class="image">
            <img class="{{this.zoom}}" src="/images/{{this.fileName}}">
            <div class="credit">{{this.imageCredit}}</div>
            <div class="caption">
              {{this.imageCaption}}<br>
              <span class="esp">{{this.imageCaptionEsp}}</span><br>
              <span class="latin">{{this.imageCaptionLatin}}</span>
            </div>
          </div>
          {{/each}}
        </div>

        <div class="body-text">
          <p>{{{bodyCopy}}}</p>
          <p class="esp">{{{espBodyCopy}}}</p>

          {{#if websiteCall}}
            <div class="website-text">
              <p class="eng">{{websiteCall}}</p>
              <p class="esp">{{websiteCallEsp}}</p>
              <p class="url">{{websiteURL}}</p>
            </div>
          {{/if}}


          <a class="btn-home">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
        </div>
      </div>

  </div>

  <!-- /Template: subPage -->
</template>
