<template name="componentPage">
  <!-- Component page -->
  <div class="container-map map-tp-menu"></div>
  <!-- Title -->
  <div class="pabs welcome-title">
    <div class="eng">{{title}}</div><br>
    <div class="esp">{{espTitle}}</div>
  </div>
  <!-- Menu -->
  <div class="pabs btm-left border-top-1 menu-footer">
    {{bodyCopy}}
    <h3>Sub pages</h3>
    {{#each pages}}
      This should show up if the DB query is working
      {{> page}}
    {{/each}}
  </div>
  <div class="col-lg-offset-1 col-lg-10">
  </div>
  <!-- /Component page -->
</template>
