<template name="componentPage">
  <!-- Template: componentPage -->

  <div class="{{colorPalate}}">

    <!-- Map -->
    <div class="container-map map-menu map-animate"></div>

    <!-- Title -->
    <div class="welcome-title">
      <div class="eng">{{{ title }}}</div>
      <div class="esp">{{{ titleEsp }}}</div>
    </div>

    <!-- Postcard -->
    <img class="postcard postcard-border postcard-shadow" src="/images/{{mural}}">

    <!-- Menu -->
    <div class="menu-footer">
      <div class="buttons">
        {{#each pages}}
          {{> button}}
        {{/each}}
      </div>
    </div>
  </div>

  <!-- /Template: componentPage -->
</template>
