<template name="componentsList">
  <div class="col-lg-12">
    <div class="components">

      {{#each components}}
        <div class="row">
          <div class="col-lg-offset-1 col-lg-10">
            {{> componentItem}}
          </div>
        </div>
      {{/each}}

    </div>
  </div>
</template>

<template name="componentItem">
  <div class="component" {{attributes}}>
    <div class="component-current">
      <h3>
        {{componentNum}} - {{brToSpace title}}
      </h3>
    </div>
  </div>
</template>

