<template name="componentPage">
  <!-- Component page -->
  <div class="container-map map-tp-menu"></div>
  <!-- Title -->
  <div class="pabs welcome-title">
    <div class="eng">{{title}}</div>
    <div class="esp">{{espTitle}}</div>
  </div>
  <img class="postcard postcard-border jaunt-left-02 postcard-shadow" src="/images/{{mural}}">
  <!-- Menu -->
  <div class="pabs menu-footer">
    <div class="buttons buttons-tp">
      {{#each pages}}
        {{> page}}
      {{/each}}
    </div>
  </div>
  <div class="col-lg-offset-1 col-lg-10">
  </div>
  <!-- /Component page -->
</template>
